* {
  margin: 0;
  padding: 0;
  font-family: Poppins, "sans-serif";
}

body {
  height: 100vh;
}
.background {
  height: 100%;
  width: 100%;
  display: flex;
}
.background .image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.background .glass {
  position: absolute;
  top: 2.5%;
  left: 5%;
  width: 90%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.445);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.texts {
  position: absolute;
  display: inline-block;
  top: 35px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.texts p {
  font-size: 18px;
}
.h1 {
  position: relative;
  display: inline-block;
  margin: 0;
}
.texts .contents {
  color: aliceblue;
}
.form {
  position: absolute;
  /* display: flex; */
  top: 12.5%;
  left: 27.5%;
  width: 45%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.637);
}
.form-titles {
  height: fit-content;
  display: block;
  color: aliceblue;
}
.inputs {
  box-sizing: border-box;
  padding: 10px;
  height: 40px;
  width: 90%;
  color: rgb(0, 0, 0);
}

.form-titles,
.inputs {
  margin: 10px 0 0 5%;
}
