* {
  margin: 0;
  padding: 0;
  font-family: Poppins, "sans-serif";
}

body {
  height: 100vh;
}
.background {
  height: 100%;
  width: 100%;
  display: flex;
}
.background .image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.background .glass {
  position: absolute;
  top: 2.5%;
  left: 5%;
  width: 90%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.445);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.texts {
  position: absolute;
  display: inline-block;
  top: 35px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.texts p {
  font-size: 18px;
}
.h1 {
  position: relative;
  display: inline-block;
  margin: 0;
}
.texts .contents {
  color: aliceblue;
}
.form {
  position: absolute;
  /* display: flex; */
  top: 12.5%;
  left: 35%;
  width: 30%;
  height: 87.5%;
  background-color: rgba(0, 0, 0, 0.637);
}
.form-titles {
  height: fit-content;
  display: block;
  color: aliceblue;
  font-weight: 600;
}
.inputs {
  box-sizing: border-box;
  padding: 10px;
  height: 40px;
  width: 90%;
  color: rgb(0, 0, 0);
}

.form-titles,
.inputs {
  margin: 10px 0 0 5%;
}
.checkboxes {
  position: relative;
  display: inline-block;
  margin: 10px 0 0 5%;
}
.checkbox-titles {
  color: aliceblue;
  position: relative;
  top: -1px;
  font-size: 14px;
  font-weight: 300;
}
#comment {
  height: 100px;
  width: 80%;
  resize: none;
}
.submit {
  display: inline-block;
  position: absolute;
  left: 37.5%;
  height: 35px;
  width: 25%;
  border-color: transparent;
  background-color: red;
  border-radius: 17.5px;
  text-align: center;
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 5px 2px rgba(143, 143, 143, 0.534);
}
.submit:active {
  background-color: rgb(155, 0, 0);
  color: rgb(188, 197, 204);
  box-shadow: none;
}
