* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
}
.image .pp {
  width: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}
.nav {
  background-color: #4070f4;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.nav .socials {
  text-align: center;
  margin: 5px 5px;
  font-size: 30px;
}
