* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}
.background {
  height: 100%;
  width: 100%;
  display: flex;
}
.background .image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.background .glass {
  position: absolute;
  top: 2.5%;
  left: 5%;
  width: 90%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.445);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.texts {
  position: absolute;
  display: inline-block;
  top: 35px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.texts p {
  font-size: 18px;
}
.texts .contents {
  color: aliceblue;
}
.form {
  position: absolute;
  display: inline-block;
  top: 120px;
  left: 27.5%;
  width: 45%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.637);
}
