* {
  text-align: center;
  text-decoration: none;
  color: white;
}
body {
  background-color: rgb(19, 30, 37);
}
h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 48px;
}
nav.top-nav a {
  padding: 10px 10px;
  background-color: rgb(211, 180, 140);
  border-radius: 10px;
  margin-right: 5px;
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  margin-bottom: 200px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 1);
  font-weight: bolder;
}
nav.top-nav a:hover {
  background-color: rgba(211, 180, 140, 0.295);
  color: tomato;
}
p {
  font-size: 48px;
  font-family: "Rampart One", cursive;
  color: rgb(255, 234, 205);
  margin: 0 250px;
}
img {
  width: 300px;
  height: 400px;
  border-radius: 20px;
}
img:hover {
  opacity: 0.5;
  cursor: pointer;
}
h3 {
  margin-top: 100px;
  font-size: 32px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.bot-nav-span {
  margin-right: 40px;
  font-size: 24px;
  color: rgb(211, 180, 140);
}
.bot-nav-icons {
  font-size: 24px;
  color: rgb(211, 180, 140);
  margin-right: 3px;
}
a:hover .bot-nav-color {
  color: tomato;
}
form {
  width: 400px;
  /* height: 50px; */
  color: aliceblue;
  margin: auto;
}
h4 {
  font-size: 18px;
}
form input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  background: rgb(19, 30, 37);
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
  /* border-color: tomato; */
  font-weight: 20;
}
form input:focus {
  border-color: tomato;
}
form input:focus::placeholder {
  color: transparent;
}
#form {
  background-color: rgb(19, 30, 37);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  font-family: sans-serif;
  font-size: 18px;
  width: 400px;
  height: 150px;
  resize: none;
  outline: none;
}
#form::placeholder {
  font-family: sans-serif;
  font-size: 18px;
  padding: 10px;
}
#form:focus {
  border: 2px solid tomato;
}
#form:focus::placeholder {
  color: transparent;
}
#Send,
#Top {
  width: 200px;
  height: 50px;
  background-color: rgb(211, 180, 140);
  border-radius: 10px;
  font-family: Arial;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 1000;
  outline: none;
}
#Send:active {
  height: 75px;
  color: tomato;
  cursor: pointer;
}

#Top {
  width: 100px;
  border-radius: 20px;
}
#Top:hover {
  color: tomato;
  cursor: pointer;
}
footer {
  text-align: right;
  margin: 10px 10px;
}
